theme "wallust-retro"
default_layout "dev"
pane_frames true
mouse_mode true
default_shell "fish"
on_force_close "detach"
copy_on_select false
simplified_ui true
hide_session_name false

themes {
  wallust-retro {
    fg      "#FDFBD8"
    bg      "#1F1617"
    black   "#4D4041"
    red     "#B05D8E"
    green   "#957A5D"
    yellow  "#CC4055"
    blue    "#887EA1"
    magenta "#B79587"
    cyan    "#BCB76B"
    white   "#F4F1BF"
    orange  "#FC2243"
  }
}

keybinds clear-defaults=true {
  shared_except "locked" {
    bind "Alt h" { MoveFocus "Left"; }
    bind "Alt l" { MoveFocus "Right"; }
    bind "Alt k" { MoveFocus "Up"; }
    bind "Alt j" { MoveFocus "Down"; }

    bind "Alt -" { NewPane "Down"; }
    bind "Alt \\" { NewPane "Right"; }
    bind "Alt x" { CloseFocus; }
    bind "Alt Space" { ToggleFocusFullscreen; }
    bind "Alt f" { ToggleFloatingPanes; }
    bind "Alt Shift f" { TogglePaneEmbedOrFloating; }

    bind "Alt t" { NewTab; }
    bind "Alt [" { GoToPreviousTab; }
    bind "Alt ]" { GoToNextTab; }
    bind "Alt 1" { GoToTab 1; }
    bind "Alt 2" { GoToTab 2; }
    bind "Alt 3" { GoToTab 3; }
    bind "Alt 4" { GoToTab 4; }
    bind "Alt 5" { GoToTab 5; }
    bind "Alt r" { SwitchToMode "RenameTab"; TabNameInput 0; }

    bind "Alt =" { Resize "Increase"; }
    bind "Alt _" { Resize "Decrease"; }
    bind "Alt d" { Detach; }
    bind "Alt u" { HalfPageScrollUp; }
    bind "Alt e" { HalfPageScrollDown; }

    bind "Alt o" { Run "nvim" "/home/arjester/Downloads/Notes/todo.txt" { name "メモ"; floating true; x "15%"; y "10%"; width "70%"; height "80%"; }; SwitchToMode "Normal"; }
    bind "Alt g" { Run "lazygit" { name "管理"; floating true; x "5%"; y "5%"; width "90%"; height "90%"; }; SwitchToMode "Normal"; }
    bind "Alt ?" { Run "nvim" "/home/arjester/nixos-dotfiles/config/keybinds.txt" { name "キー"; floating true; x "5%"; y "5%"; width "90%"; height "90%"; }; SwitchToMode "Normal"; }
    bind "Alt Shift l" { SwitchToMode "Locked"; }
  }

  locked {
    bind "Alt Shift l" { SwitchToMode "Normal"; }
  }

  renametab {
    bind "Enter" { SwitchToMode "Normal"; }
    bind "Esc" { UndoRenameTab; SwitchToMode "Normal"; }
  }
}
